
body {
    font-family: 'Roboto',sans-serif, 'Raleway',sans-serif;
    background: #FFFFFF;
}
/* Header */
.page-header {

}

.logo {
    width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
        text-decoration: none;
        font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
        
            letter-spacing: 0.03em;
        
            color: #2196F3;
}

.text-logo {
    color: #212121;
}


.site-nav a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color:#212121;

    width: 281px;
        height: 16px;
        left: 453px;
        top: 32px;
}
.site-nav a:hover, .site-nav a:focus {
color: #2196F3;
}

.contacts-header a {
    text-decoration: none;
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}
.contacts-header a:hover,
.contacts-header a:focus {
color: #2196F3;
}